@charset "utf-8";

/* CSS Document */
body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0d1930;
  background-image: url("../img/arrow.png");
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

header h1 {
  font-size: 6vw;
}

h3 {
  font-weight: 500;
  font-size: 6vw;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 2fr 0.2fr 0.1fr;
  max-height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

header {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.5fr;
  width: 100%;
  text-align: center;
  align-items: center;
}

.fa-chevron-left {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.5em;
}

.bilnavn {
  grid-column: 2/3;
  margin: 0;
}

.indstillinger {
  grid-column: 3;
  grid-row: 1;
  font-size: 1.3em;
  transform: scaleX(-1);
}

nav{
grid-column: 1/-1;
grid-row: 2;
display: grid;
grid-template-rows: 0.5fr;
justify-items: center;
}

nav p{
  display: inline-block;
  text-align: center;
  grid-row: 1;
  font-size: 3.3vw;
  margin-top: 10%;

}

.dokumenter{
  grid-column: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}

.teknisk-info{
grid-column: 2;
}

.underline{
  width: 60%;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  background-color: #fff;
  height: 1px;
  border-radius: 5px;
  margin-top: 20%;
  z-index: 100;
}

.platebig{
  grid-column: 1/-1;
  text-align: center;
}



/* SECTION */
/* SECTION */
/* SECTION */


main{
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.3fr 0.6fr;
}

#topleft{
  grid-column: 1;
  margin-left: 15%;
  font-weight: 300;
  font-size: 14px;
}

#topright{
  grid-column: 2;
  grid-row: 1;
  margin-left: 15%;
  font-weight: 300;
  font-size: 14px;
}

.section1{
  grid-column: 1/-1;
  grid-row: 2;
}

#divider{
  width: 84%;
  margin-top: 5%;
  justify-self: center;
  background-color: #2e3444;
  height: 2px;
  border-radius: 5px;

}

#forsikring{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-column: 1/-1;
}

.forsikringsheader{
  grid-column: 1/-1;
  grid-row: 2;
  margin-left: 8%;
  margin-top: 10%;
}

#botleft{
  grid-column: 1;
  grid-row: 3;
  margin-left: 15%;
  font-weight: 300;
  font-size: 14px;
}

#botright{
  grid-column: 2;
  grid-row: 3;
  margin-left: 15%;
  font-weight: 300;
  font-size: 14px;
}


.read-more-btn {
  grid-column: 1/-1;
  padding: 20px 32%;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #92ABDA 0%, #242D3D 200%);
  border: none;
  text-align: center;
  text-decoration: none;
  justify-self: center;
}


.read-more-btn a {
  text-decoration: none;
}

.section2{
  grid-column: 1/-1;
}

.synrapporter{
  grid-column: 1/-1;
  margin-left: 8%;
  margin-top: 5%;
}

.synrapporter p{
  font-size: 12px;
  margin-top: -5%;
}

.rapporter {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/-1;
  height: 3.5rem;
  width: 85%;
  color: #fff;
  border-radius: 5px;
  background-color: #29364E;
  border: none;
  text-decoration: none;
  justify-self: center;
  margin-top: 1em;
}

.rapporter p{
  font-size: 12px;
  margin-left: 1rem;
  margin-bottom: -1em;
}

.dato{
grid-column: 1;
grid-row: 1;
}

.km{
  grid-column: 1;
}

.pdf{
grid-column: 3;
grid-row: 2;
margin: 0;
}

.fa-check-circle{
  grid-column: 4;
  grid-row: 2;
  margin: 0;
  font-size: 1em;
  text-align: center;
}

.checked {
  color: #00A300;
}

.unchecked {
  color: #A30505;
}
