@charset "utf-8";
/* CSS Document */

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0d1930;
  background-image: url("../img/arrow.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 6vw;
  margin-top: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr ;
  grid-template-rows: 1fr 7fr 1fr;
}

header{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr ;
  grid-template-rows: 1fr;
  width: 100%;
  text-align: center;
  grid-column: 1/-1;
}

header a{
  grid-column: 1;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 20px;
}

h1 {
  grid-column: 2;
}

.garage {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
}

h2 {
  font-size: 4vw;
  padding-left: 10px;
  position: absolute;
}

.car {
  background-color: #47587A;
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.one {
  grid-column: 1/-1;
  grid-row: 1;
}

#onepic {
  transform: rotate(270deg);
  width: 30%;
  position: relative;
  margin-left: 35%;
}

.two {
  grid-column: 1/-1;
  grid-row: 2;
}

#twopic {
  transform: rotate(180deg);
  width: 60%;
  position: relative;
  margin: 5% 20%;
}

.empty {
  grid-column: 1/-1;
  grid-row: 3;
  background-color: #0F192E;
  border: 3px dashed #47587A;
}

#add {
  border: 3px dashed #47587A;
background-color: #0F192E;
  border-radius: 100px;
  color: white;
  width: 15vw;
  height: 15vw;
  font-size: 7vw;
  margin-left: 40%;
  margin-top: 18%;
}

.kryds1 {
  position: relative;
  float: right;
  font-size: 2em;
  color: #B11226;
}

.kryds {
  background: url("../img/kryds1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  float: right;
  width: 7vw;
  height: 7vw;
  border: none;
  z-index: 1;
}

button:focus {
  outline:0;
}

/*POP UP*/
/* Popup container*/
.popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60vw;
    height: 50vw;
    margin-left: -71.5vw;
    }

/* The actual popup */
.popup .popuptext {
    width: 60vw;
    padding: 20px;
    height: 100%;
    background-color: #fff;
    display: none;
    font-family: "proxima-nova", sans-serif;
    color: #fff;
    font-size: 4vw;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
    margin-top: 50px;
    }

/* Toggle this class - hide and show the popup */
.popup .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0,9;}
    }

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0,9;}
    }

/* Popup knapper*/
.slet-btn {
      display: block;
      padding: 4vw 3vw;
      font-size: 4vw;
      margin-bottom: 2vw;
      margin-top: 2vw;
      color: white;
      border-radius: 5px;
      background-image: linear-gradient(to bottom, #92ABDA 0%, #242D3D 200%);
      border: none;
      text-align: center;
      text-decoration: none;
    }

.top {
  margin-top: 10vw;
}
