@charset "utf-8";

/*BAGGRUND*/




.wrapper{
  display:grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  /* grid-gap: 5px; */
  border: none;
  max-height: 100%;
  max-width: 100%;
  justify-items: center;

}

/*LOGO*/

.logo {
  position:relative;
  margin: 0px 0px 0px 0px;
  padding: 0;
  grid-column: 2;
  text-align: center;
  width: 80vw;
}



.logo-place {
  grid-column: 1/-1;
  grid-row: 3;
  position:relative;
  margin: 0px 0px 0px 0px;
  padding: 0;
  text-align: center;
}
