@charset "utf-8";

/* CSS Document */
body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0d1930;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
background-size: 100vw;
  color: #fff;
  font-size: 4.5vw;
  /* 16px */
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 8vw;
}

h3 {
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 2fr;
  grid-template-rows: 1fr 0.5fr 2fr 2fr 1.5fr 1.5fr;
  /* border: 1px solid #000; */
  max-height: 100%;
  overflow: hidden;
  width: 95vw;
}

.top {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* border: 1px solid green; */
  width: 100%;
}

.model {
  grid-column: 1/3;
  margin: 4vh 0 0 5vw;
  font-size: 7vw;
}

.nummerplade {
  grid-row: 2;
  font-size: 5vw;
  margin: 0 0 0 5vw;
}

nav {
  grid-column: 5;
  grid-row: 1;
}

.navbar {
  overflow: hidden;
  justify-self: right;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 9vw;
  margin-top: 4vh;
  margin-left: 2vw;

}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #29364E;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 8vh;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 2em 2em 2em 2em 2em 2em 2em 2em 20em;
  text-decoration: none;
}

.side-nav .btn-close {
  position: absolute;
  top: -3.5vh;
  right: 2.5vw;
  font-size: 9vw;
}

.side-nav a {
  padding: 10px 10px 30px 30px;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin-top: 6vh;
}




.type2{
  margin-left: 1em;
  margin-top: 2em;
}

.type2 a{
  margin-bottom: -0.1em;
}

.type2 p{
  margin-top: 1.5vh;
  font-size: 0.8em;
  font-weight: 300;
}

.logout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3em;
  color: #fff;
  margin-top: 45vh;
}

.log-ud{
grid-column: 1;
grid-row: 1;
}

.logout a{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.logout-text{
  grid-column: 2;
  grid-row: 1;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  justify-self: start;
}

.showcase {
  display: grid;
  margin-top: 10vh;
  grid-column: 1/5;
  grid-row: 2/5;
  padding-bottom: 20%;
}

.bil-top {
  margin-left: 4vw;
  width: 28vh;
  height: auto;
}

.overblik {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 8%;
  grid-row: 3/6;
  grid-column: 5;
  justify-items: end;
}

.status {
  width: 20vw;
  height: 20vw;
  border-radius: 10%;
  background-color: #47597A;
  text-align: center;
}

.status h3 {
  margin: 0;
  font-size: 4.5vw;
}

.status p {
  margin: 0;
  margin-top: 20%;
}

.radios {
  grid-row: 6;
  grid-column: 1/-1;
  position: relative;
  width: 100%;
  margin: 12vw auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  overflow: hidden;
}


.slider{
  display: inline-block;
  width: 1.5vw;
  padding-bottom: 1.5vw;
  margin: 0 2.5%;
  background: #fff;
  border-radius: 45%;
  cursor: pointer;
}

#sliderone{
border: 0.8vw solid #000;
}

#slidertwo{
  background: #000;
  border: 0.5vw solid #000;
}



#page1 {
  position: absolute;
  left: 0;
  background-color: rgba(255, 0, 0, 0);
}

.page2 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0);
  display: none;
}











/*


PAGE 2
PAGE 2
PAGE 2
PAGE 2
PAGE 2
PAGE 2PAGE 2
PAGE 2
PAGE 2
PAGE 2
PAGE 2PAGE 2 */

















.wrapper-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 0.5fr 2fr 2fr 1.5fr 1.5fr;
  /* border: 1px solid #000; */
  max-height: 100%;
  overflow: hidden;
  width: 95vw;
}

.top-right {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* border: 1px solid green; */
  width: 100%;
}

.model-right {
  grid-column: 1/3;
  margin: 4vh 0 0 5vw;
  font-size: 7vw;
}

.nummerplade-right {
  grid-row: 2;
  font-size: 5vw;
  margin: 0 0 0 5vw;
}




.navbar-right {
  overflow: hidden;
  justify-self: right;
  grid-column: 5;
  grid-row: 1;
}

.navbar-right a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 9vw;
  margin-top: 4vh;
  margin-left: 2vw;

}

.navbar-right ul {
  margin: 8px 0 0 0;
  list-style: none;
}



.side-nav-right {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #29364E;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 8vh;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 2em 2em 2em 2em 2em 2em 2em 2em 20em;
  text-decoration: none;
}

.side-nav-right .btn-close-right {
  position: absolute;
  top: -3.5vh;
  right: 2.5vw;
  font-size: 9vw;
}


.side-nav-right a {
  padding: 10px 10px 30px 30px;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin-top: 6vh;

}

.type2-right{
  margin-left: 1em;
  margin-top: 2em;
}

.type2-right a{
  margin-bottom: -0.1em;
}
.type2-right p{
  margin-top: 1.5vh;
  font-size: 0.8em;
  font-weight: 300;
}



.logout-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3em;
  color: #fff;
  margin-top: 45vh;
}

.log-ud-right{
grid-column: 1;
grid-row: 1;
}

.logout-right a{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.logout-text-right{
  grid-column: 2;
  grid-row: 1;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  justify-self: start;
}




.showcase-right {
  display: grid;
  margin-top: 10vh;
  grid-column: 1/5;
  grid-row: 2/5;
  padding-bottom: 20%;
}

.bil-top-right {
  margin-left: 10vw;
  width: 28vh;
  height: auto;
}



.overblik-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 8%;
  grid-row: 3/6;
  grid-column: 5;
  justify-items: end;
}

.status-right {
  width: 20vw;
  height: 20vw;
  border-radius: 10%;
  background-color: #47597A;
  text-align: center;
}

.status-right h3 {
  margin: 0;
  font-size: 4.5vw;
}

.status-right p {
  margin: 0;
  margin-top: 20%;
}

.radios-right {
  grid-row: 6;
  grid-column: 1/-1;
  position: relative;
  width: 100%;
  margin: 12vw auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  overflow: hidden;
}


.slider-right{
  display: inline-block;
  width: 1.5vw;
  padding-bottom: 1.5vw;
  margin: 0 2.5%;
  background: #fff;
  border-radius: 45%;
  cursor: pointer;
}


#sliderone-right{
  background: #000;
  border: 0.8vw solid #000;


}

#slidertwo-right{
border: 0.8vw solid #000;

}





@media only screen and (max-width:768px) {
}

@media only screen and (min-width:768px) {


  .wrapper{
    grid-template-columns: 1fr 1fr 1fr 0.5fr 2fr;
    grid-template-rows: 0.5fr 0.1fr 2fr 2fr 1.5fr 1.5fr;
  }

  .side-nav .btn-close {
    top: -3vh;
    right: 3.7vw;
  }

  .logout{
    margin-top: 30vh;
  }


  .bil-top {
    margin-left: 20vw;
  }

  .status {
    width: 17vw;
    height: 17vw;
  }

  .status h3 {
    font-size: 3.5vw;
  }

  .status p {
    font-size: 3.5vw;
  }


  .radios {
    margin: 6vw auto;
  }






/* RIGHT SIDE */

.wrapper-right{
  grid-template-columns: 1fr 1fr 1fr 0.5fr 2fr;
  grid-template-rows: 0.5fr 0.1fr 2fr 2fr 1.5fr 1.5fr;
}

.side-nav-right .btn-close-right {
  top: -3vh;
  right: 3.7vw;
}

.logout-right{
  margin-top: 30vh;
}

  .bil-top-right {
    margin-left: 20vw;
  }

  .status-right {
    width: 18vw;
    height: 18vw;
  }

  .status-right h3 {
    font-size: 3.5vw;
  }

  .status-right p {
    font-size: 3.5vw;
  }

  .radios-right {
    margin: 9vw auto;
  }

}
