@charset "utf-8";
/* CSS Document */

body {
  font-family: "proxima-nova", sans-serif;
  background: #0F192E;
  background-image: url("../img/arrow.png");
  color: #fff;
  height: 100%;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

header {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  background: #0F192E;
  height: 25%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: auto;
	grid-gap: 5px;
  max-height: 100%;
  max-width: 100%;
}

.title {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  font-size: 20px;
  text-align: center;
  color: #fff;
}


.bck-btn {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: none;
}


main {
	grid-column: 1/-1;
}
