/* --- UNIVERSAL STYLING  --- */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

h1, a, h2, h3, h4{
  font-family: proxima-nova, sans-serif;
}

p {
  font-family: proxima-nova, sans-serif;
  color: white;
  font-weight: 300;
  font-style: normal;
}


/* --- Flexbox  --- */
.flexWrapper {
  display: flex;
}


/* --- Aside nav wrapper  --- */
.asideWrapper {
	height: 100%;
	min-width: 20%;
	background-color: #2A364E;
    position: fixed;
	flex-direction: column;
	justify-content: center;
    display: flex;
	z-index: 100;
}


/* --- Aside NAV  --- */
.navWrapper ul {
  margin-left: 15px;
  list-style: none;
}

.navWrapper ul li {
  margin: 25px 5px;
}

.navWrapper ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
}

.navWrapper ul li a:after,
.navWrapper ul li a:before {
  transition: all 0.5s;
}

.navWrapper ul li a:hover {
  color: #fff;
}

/* stroke */
.navWrapper ul li a {
  position: relative;
}

.navWrapper ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fff;
  height: 2px;
}

.navWrapper ul li a:hover:after {
  width: 70%;
}

/* --- Aside LOGO  --- */
.asideWrapper img {
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
}

/* --- main wrapper  --- */
.mainWrapper {
  position: relative;
  left: 20%;
  height: auto;
  max-width: 100%;
  background-color: #121B2E;
}

/* --- First section / Landing section  --- */
.landingSection {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #fff;
  margin-bottom: 50px;
  margin-left: 0px;
  overflow: hidden;
  font-family: proxima-nova, sans-serif;
}

.landingSection h1, h2 {
  font-size: 40px;
  color: #2B3E56;
  margin-left: 10%;
  font-family: proxima-nova, sans-serif;
}

.landingSection h3 {
  font-size: 20px;
  color: #2B3E56;
  margin-left: 10%;
  font-family: proxima-nova, sans-serif;
}

.landingSection p {
  font-size: 20px;
  line-height: 25px;
  color: #2B3E56;
  margin-left: 10%;
  margin-right: 10%;
  font-family: proxima-nova, sans-serif;
}


/* --- ATOMIC DESIGN SECTION -- */

.atomBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.atomicSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #121B2E;
  margin-left: 5%;
  margin-bottom: 5%;

}

.atomicSection h1 {
  margin-bottom: 40px;
  margin-top: 60px;
  font-size: 40px;
  color: white;
  text-align: left;
  font-family: proxima-nova, sans-serif;
  margin-left: 0%;
}

.atomicSection h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  margin-top: 30px;
}

.thHeader{
  font-size: 20px !important;
}

.atomicSection tr th {
	text-align: left;
}

/* --- Farver  --- */

.farverBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.farveSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #121B2E;
  margin-left: 5%;
  margin-bottom: 5%;
}

.farveSection h1 {
  margin-bottom: 40px;
  margin-top: 60px;
  font-size: 40px;
  color: white;
  text-align: left;
  font-family: proxima-nova, sans-serif;
  margin-left: 0%;
}

.farveSection .color {
  margin: 14px 0px;
  width: 70%;
  height: 120px;
  display: flex;
  flex-direction: row;
}

.colorInfo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 5%;
  align-items: center;
}

.colorInfo div:first-child {
  margin-right: 50px;
}

.white div p {
  color: white;
  font-size: 20px;
  margin-left: 0%;
}

.black div p {
  color: black;
  font-size: 20px;
  margin-left: 0%;
}



/* --- Grafik section  --- */

.grafikBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.grafikSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #121B2E;
  margin-left: 5%;
  margin-bottom: 5%;
}

.grafikSection h1 {
  margin-top: 60px;
  margin-bottom: 3%;
  font-size: 40px;
  width: 100%;
  color: white;
}

.grafikSection img {
  width: 200px;
  margin-left: -8%;
  margin-top: -10%;
}

.grafikSection h3 {
  font-size: 20px;
  color: white;
}

.grafikSection hr {
  width: 400px;
}

.grafik-arrow {
  margin-top: 30px;
  background-color: #121B2E;
  padding: 14px 16px;
  width: 400px;
}

.grafikSection article {
  width: 35%;
}

.grafikSection article h2 {
  color: white;
  margin: 10px 0;
  font-size: 40px;
}

.grafikSection article h3 {
  color: white;
}

.grafikSection article hr {
  width: 60%;
  margin: 10px 0;
}

.grafikSection article p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

/* atomic Grafik*/

.atomicgrafik {
  width: 65%;
  margin-left: 5%;
  margin-top: 1%;
}

.grafikBorder .atomicheadergrafik {
  font-size: 20px;
  color: white;
  margin-left: 5%;
}

/*Code Snippets*/

.codeEmbedLogo {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 90%;
}

.codeEmbedLogo code {
  font-size: 20px;
}

.grafikSection .ptools {
  width: 35%;
  margin-left: -5%;
}

.grafikSection .ptools h2 {
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 20%;
}

.grafikSection .ptools h3 {
  color: white;
  margin-left: 20%;

}

.grafikSection .ptools hr {
  width: 60%;
  margin: 10px 0;
  margin-left: 20%;
}

.grafikSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}








/* --- Logo section  --- */

.logoBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.logoSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #121B2E;
  margin-left: 5%;
  margin-bottom: 5%;
}

.logoSection h1 {
  margin-top: 60px;
  margin-bottom: 3%;
  font-size: 40px;
  width: 100%;
  color: white;
}

.logoSection img {
  width: 400px;
  margin-left: -8%;
  margin-top: -10%;
}

.logoSection h3 {
  font-size: 20px;
  color: white;
}

.logoSection hr {
  width: 400px;
}

.logoHvid {
  margin-top: 30px;
  background-color: #121B2E;
  padding: 14px 16px;
  width: 400px;
}

.logoSection article {
  width: 35%;
}

.logoSection article h2 {
  color: white;
  margin: 10px 0;
  font-size: 40px;
}

.logoSection article h3 {
  color: white;
}

.logoSection article hr {
  width: 60%;
  margin: 10px 0;
}

.logoSection article p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

/* atomic logo*/

.atomiclogo {
  width: 65%;
  margin-left: 5%;
  margin-top: 1%;
}

.logoBorder .atomicheaderlogo {
  font-size: 20px;
  color: white;
  margin-left: 5%;
}

/*Code Snippets*/

.codeEmbedLogo {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 90%;
}

.codeEmbedLogo code {
  font-size: 20px;
}

.logoSection .ptools {
  width: 35%;
  margin-left: -5%;
}

.logoSection .ptools h2 {
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 20%;
}

.logoSection .ptools h3 {
  color: white;
  margin-left: 20%;

}

.logoSection .ptools hr {
  width: 60%;
  margin: 10px 0;
  margin-left: 20%;
}

.logoSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}


/* --- Knapper section  --- */


.knapperBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}

.knapperSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #121B2E;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.knapperSection h1 {
  margin-top: 60px;
  margin-bottom: 3%;
  font-size: 40px;
  width: 100%;
  color: white;
}

.knapperSection article {
  width: 35%;
}

.knapperSection article h2 {
  color: white;
  margin: 10px 0;
  font-size: 40px;
}

.knapperSection article h3 {
  color: white;
}

.knapperSection article hr {
  width: 60%;
  margin: 10px 0;
}

.knapperSection article p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}


/* atomic Knapper */

.atomicknapper {
  width: 65%;
  margin-left: 5%;
  margin-top: 1%;
}

.knapperBorder .atomicheaderknapper {
  font-size: 20px;
  color: white;
  margin-left: 5%;
  margin-top: 5%;
}




/*CODE SNIPPETS*/

.knapperSection .ptools {
  width: 35%;
  margin-left: -5%;
}

.knapperSection .ptools h2 {
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 20%;
}

.knapperSection .ptools h3 {
  color: white;
  margin-left: 20%;

}

.knapperSection .ptools hr {
  width: 60%;
  margin: 10px 0;
  margin-left: 20%;
}

.knapperSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 90%;
}

.codeEmbed code {
  font-size: 20px;
}


/* NAV knap */
.navList {
  width: 300px;
  box-sizing: border-box;
  background-color: #121B2E;
  list-style: none;
  text-align: left;
  margin-top: 5%;
}

.navList a {
  top: 54%;
  text-decoration: underline;
  color: #9CD9B9;
  font-size: 15px;
}



/* Standard BTN */
.standardBtn {
  display: block;
  padding: 20px 170px;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #92ABDA 0%, #242D3D 200%);
  border: none;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

.standardBtnblue {
  display: block;
  padding: 20px 170px;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #394C6E 0%, #000 300%);
  border: none;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* --- Typografi  --- */

.typoBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.typoSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #121B2E;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.typoSection h1 {
  margin-top: 60px;
  margin-bottom: 3%;
  font-size: 40px;
  width: 100%;
  color: #fff;
}

.typoSection article {
  width: 35%;
}

.typoSection article h2 {
  color: #fff;
  margin-top: 10%;
  font-size: 40px;
}

.typoSection article h3 {
  color: #fff;
  margin-top: 10%;
  font-size: 40px;
}

.typoSection article hr {
  width: 60%;
}

.typoSection article p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5%;
  margin-top: 2%;
}


#ekstypografi{
  font-size: 30px;
}

#eksoverskrift{
  font-size: 20px;
}

#eksparagraf{
font-size: 16px;
}

#fontdl{
  cursor: pointer;
  display: inline-block;
}


/*CODE SNIPPETS*/

.typoSection .ptools {
  width: 35%;
  margin-left: -5%;
}

.typoSection .ptools h2 {
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 20%;
}

.typoSection .ptools h3 {
  color: white;
  margin-left: 20%;

}

.typoSection .ptools hr {
  width: 60%;
  margin: 10px 0;
  margin-left: 20%;
}

.typoSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 35%;
}

.codeEmbed code {
  font-size: 20px;
}





/* input */

.inputBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.inputSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #121B2E;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.inputSection h1 {
  margin-top: 60px;
  margin-bottom: 1%;
  font-size: 40px;
  width: 100%;
  color: #fff;
}

.inputSection p {
    width: 100%;
    margin-bottom: 0.5%;
    font-size: 16px;
    color: #fff;
}

.inputSection article {
  width: 35%;
}

.inputSection article h2 {
  color: #fff;
  margin-top: 5%;
  font-size: 40px;
}

.inputSection article h3 {
  color: #fff;
  margin-top: 10%;
  text-decoration: none;
}



/*INPUT PASSWORD & TEXT*/


.inp {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 35%;
}


.inp .label {
	position: absolute;
	top: 10px;
	left: 0;
	color: #fff;
	transform-origin: 0 0;
	transition: all 0.2s ease;
}


.inp .border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: none;
	transform: scaleX(0);
	transition: all 0.15s ease;
}


.inp input {
	-webkit-appearance: none;
	width: 60%;
	border: 0;
	padding: 12px 0 0px;
	height: 60px;
	border-bottom: 1px solid white;
	background: none;
  color: #fff;
	border-radius: 0;
	transition: all 0.15s ease;
  font-size: 16px;
}


.inp input:hover {
	background: rgba(34,50,84,0.03);
}


.inp input:not(:placeholder-shown) + span {
	color: #c8ccd4;
	transform: translateY(-26px) scale(0.75);
}


.inp input:focus {
	background: none;
	outline: none;
}


.inp input:focus + span {
	color: #c8ccd4;
	transform: translateY(-26px) scale(0.75);
}


#email_error {
  color: #BD4444;
  position: absolute;
  top: 33px;

}


#pass_error {
  color: #BD4444;
  position: absolute;
  top: 33px;
}


/* EMAIL ICON*/

.emailinp {
	position: relative;
	color: white;
}


.emailinp .fa-envelope {
	position: relative;
	top: 0px;
  margin-right: 8px;
  font-size: 16px;
}

/*PASSWORD ICON*/

.passinp {
	position: relative;
	color: white;
}


.passinp .fa-lock {
	position: relative;
	top: 0px;
  margin-right: 8px;
    font-size: 16px;
}


/* Checkbox */


.checkbox {
	display: block;
	position: relative;
	text-indent: 24px;
 	cursor: pointer;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;
  margin-top: 5%;
  color: #fff;

}

.checkbox u {
  color: #9CD9B9;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #747474;
}


.checkbox input:checked ~ .checkmark {
  background-color: #9CD9B9;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkbox input:checked ~ .checkmark:after {
  display: block;
}


.checkbox .checkmark:after {
  left: 4.5px;
  top: 3.5px;
  width: 2.5px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*CODE SNIPPETS*/

.inputSection .ptools {
  width: 35%;
  margin-left: -5%;
}

.inputSection .ptools h2 {
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 20%;
}

.inputSection .ptools h3 {
  color: white;
  margin-left: 20%;

}

.inputSection .ptools hr {
  width: 60%;
  margin: 10px 0;
  margin-left: 20%;
}

.inputSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 35%;
}

.codeEmbed code {
  font-size: 20px;
}


/* atomic inputs */

.atomicinputs {
  width: 65%;
  margin-left: 5%;
  margin-top: 1%;
}

.inputBorder .atomicheaderinputs {
  font-size: 20px;
  color: white;
  margin-left: 5%;
  margin-top: 5%;
}




/* ---  Ikoner  --- */

.ikonerBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.ikonerSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #121B2E;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.ikonerSection h1 {
  margin-top: 60px;
  margin-bottom: 5%;
  font-size: 40px;
  width: 100%;
  color: #fff;
}

.ikonerSection p {
    width: 100%;
    font-size: 16px;
    color: #fff;
}

.ikonerSection article {
  width: 35%;
}

.ikonerSection article h2 {
  color: #fff;
  margin-top: 5%;
  font-size: 40px;
}

.ikonerSection article h3 {
  color: #fff;
  margin-top: 10%;
  text-decoration: none;
}

.ikonerSection article a {
  font-size: 16px;
  color: white;
}



/*CODE SNIPPETS*/

.ikonerSection .ptools {
  width: 35%;
  margin-left: -5%;
}

.ikonerSection .ptools h2 {
  color: white;
  font-size: 40px;
  margin-left: 20%;
  margin-top: 60px;
}

.ikonerSection .ptools h3 {
  color: white;
  margin-left: 20%;
  margin-top: 5%;

}

.ikonerSection .ptools hr {
  width: 100%;
  margin: 10px 0;
  margin-left: 20%;
}

.ikonerSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 100%;
}

.codeEmbed code {
  font-size: 20px;
}



/*icon-table*/

.ikonerSection .ptools2 {
  width: 35%;
  margin-left: -5%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -5%;
}

.ikonerSection .ptools2 h2 {
  color: white;
  font-size: 40px;
  margin-left: 5%;
}

.ikonerSection .iconTable {
  width: 35%;
  margin-left: -22.5%;
  margin-top: 10%;
  font-size: 22px;
  color: white;
  background-color: #121B2E;
  font-family: proxima-nova, sans-serif;

}

.iconTable tr th {
  border: 1px solid white;
  padding: 1em;
  font-size: 15px;
  color: #fff;
  text-align: left;
  font-family: proxima-nova, sans-serif;
}

.fas {
  font-size: 25px;
  text-align: center;
}
.far {
  font-size: 25px;
  text-align: center;
}


/* atomic ikoner */

.atomicikoner {
  width: 65%;
  margin-left: 5%;
  margin-top: 1%;
}

.ikonerBorder .atomicheaderikoner {
  font-size: 20px;
  color: white;
  margin-left: 5%;
  margin-top: 5%;
}





/* ---  Navigation  --- */

.navigationBorder {
    padding-bottom: 5%;
}


.navigationSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #121B2E;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.navigationSection h1 {
  margin-top: 60px;
  margin-bottom: 5%;
  font-size: 40px;
  width: 100%;
  color: #fff;
}

.navigationSection p {
    width: 100%;
    font-size: 16px;
    color: #fff;
}

.navigationSection article {
  width: 35%;
}

.navigationSection article h2 {
  color: #fff;
  margin-top: 5%;
  font-size: 40px;
}

.navigationSection article h3 {
  color: #fff;
  margin-top: 10%;
  text-decoration: none;
}

.navigationSection article a {
  font-size: 16px;
  color: white;
}


/*CODE SNIPPETS*/

.navigationSection .ptools {
  width: 35%;
  margin-left: -5%;
}

.navigationSection .ptools h2 {
  color: white;
  font-size: 40px;
  margin-left: 20%;
  margin-top: 60px;
}

.navigationSection .ptools h3 {
  color: white;
  margin-left: 20%;
  margin-top: 5%;

}

.navigationSection .ptools hr {
  width: 100%;
  margin: 10px 0;
  margin-left: 20%;
}

.navigationSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 100%;
}

.codeEmbed code {
  font-size: 20px;
}







/* atomic navigation */

.atomicnav {
  width: 65%;
  margin-left: 5%;
  margin-top: 1%;
}

.navigationBorder .atomicheadernav {
  font-size: 20px;
  color: white;
  margin-left: 5%;
  margin-top: 5%;
}
